<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuxt.stateMachine.order.mapper.OrderMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.tuxt.stateMachine.order.entity.Order">
                    <id column="id" property="id" />
                    <result column="order_code" property="orderCode" />
                    <result column="status" property="status" />
                    <result column="name" property="name" />
                    <result column="price" property="price" />
                    <result column="delete_flag" property="deleteFlag" />
                    <result column="create_time" property="createTime" />
                    <result column="update_time" property="updateTime" />
                    <result column="create_user_code" property="createUserCode" />
                    <result column="update_user_code" property="updateUserCode" />
                    <result column="version" property="version" />
                    <result column="remark" property="remark" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, order_code, status, name, price, delete_flag, create_time, update_time, create_user_code, update_user_code, version, remark
        </sql>

</mapper>

